# Application configuration
NODE_ENV=development
APP_NAME="SC api-gateway"
APP_DESCRIPTION="API documentation for api-gateway"

# Server configuration
HOST=localhost
PORT=3000

# CORS configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Database configuration (Primary)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=example
DB_PASSWORD=
DB_PORT=5432

# JWT configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN="2h"

# Swagger configuration
SWAGGER_TITLE="SC api-gateway"
SWAGGER_DESCRIPTION="API documentation for api-gateway"
SWAGGER_HOST=localhost:3000
SWAGGER_SCHEMES=http
SWAGGER_BASE_PATH=/
